.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.site-header {
  background-color: #ffeaa9;
}
.icon-menu {
  display: none;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 1em 0.5em 1em 0;
}
a, .byline {
  color: #777777;
  text-decoration: none;
}

.article-body p {
  clear: both;
}
